target/
build/
_build/
builddir/
build-aux/app
build-aux/.flatpak-builder/
src/config.rs
*.ui.in~
*.ui~
.flatpak/
.flatpak-builder/
flatpak_app/
vendor
vendor.tar
.cargo/

debian/*
!debian/*install
!debian/*postinst
!debian/changelog
!debian/copyright
!debian/control
!debian/links
!debian/rules
!debian/source
