[Desktop Entry]
Name=Cosmic Launcher
Comment=GTK4 application runner frontend for pop-launcher
Type=Application
Exec=cosmic-launcher
Terminal=false
Categories=GNOME;GTK;
Keywords=Gnome;GTK;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicLauncher
StartupNotify=true
NoDisplay=true
