[Desktop Entry]
Name=Launcher
Comment=The COSMIC frontend for Pop Launcher
Type=Application
Exec=cosmic-launcher
Terminal=false
Categories=COSMIC;
Keywords=Launcher;
Icon=com.system76.CosmicLauncher
StartupNotify=true
X-HostWaylandDisplay=true
NoDisplay=true
