[Desktop Entry]
Name=Launcher
Name[zh-CN]=启动器
Name[ar]=المُشَغِّل
Name[hu]=Indító
Name[pl]=Program startowy
Name[pt]=Lançador
Comment=COSMIC Launcher
Comment[zh-CN]=COSMIC 启动器
Comment[ar]=مُشَغِّلُ كوزمِك
Comment[hu]=COSMIC Indító
Comment[pl]=Program startowy COSMIC
Comment[pt]=Botão de inicialização do COSMIC
Type=Application
Exec=cosmic-launcher
Terminal=false
Categories=COSMIC;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=COSMIC;ICED;
Keywords[ar]=كوزمِك;آيسِد;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicLauncher
StartupNotify=true
X-HostWaylandDisplay=true
NoDisplay=true
